node_modules/
dist/
build/
out/
release/
target/
.turbo/
__pycache__/
.venv/
*.pyc

.env
.env.*
!.env.example
secrets/*.key
secrets/*.pfx
!secrets/*.age

pgdata/
qdrant-storage/
minio-data/
*.log

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
